.cv-container{
    background-color: #8900f2;
    color:black;
    
    border-radius: 2%;
    padding: 4%;
    margin-left: 20vw;
    margin-top:5vh;
    margin-right: 20vw;
    height: 50vh;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
}
.person-name{
    text-align: center;
}